*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.contenedortodo{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px; 
    padding: 23px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  

}

.contenedor-imagen{
   max-width: 100%;
   margin-bottom: 5px;
}

.imagen{
    /* width: 100%; 
    border-radius: 10px;
    height: 100%; 
    object-fit:cover; */
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.hover{
    height: 305px;
    width: 305px;
    position: absolute;
    top:23px;
    border-radius:10px;
    transition: all 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
}


.hover:hover{
    opacity: 1;
    background-color:hsl(178, 100%, 50%, 40%);
    cursor: pointer;    
}

.textos{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    /* margin: 20px 0; */    
}

.contenedor-textoh2{
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoh2{    
    margin: auto;
    margin-left: 0;
    padding-top: 5px;
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.3px;
}

.textoh2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.contenedor-parrafo{
    height: 120px;
    grid-area: 2/1/3/3;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    padding: auto;
}

.textoparrafo{ 
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 100;
}

.parrafo{
    margin: 10px 0;
}

.diss{
    display: flex;
    align-items: center;
    justify-content: center;
}


.textoschicos{
    grid-area: 3/1/4/3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.precio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.precio h3{
    font-size: 16px;
    color: hsl(178, 100%, 50%); 
    letter-spacing: 1.2px;
}


.precio img{
    margin-right: 5px;
}

.timer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.timer p{
    font-size: 16px;
    margin-left: 6px;
    color: hsl(215, 51%, 70%);
}


.final{
    grid-area: 4/1/5/3;
    height: 100%;
    border-top: 1.5px solid hsl(215, 32%, 27%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.final img{
    height: 35px;
    border-radius: 50px;
    border: 1px solid white;
}

.final p{
    font-size: 18px;
    margin-left: 15px;
    color: hsl(215, 51%, 70%);

}

.final b{
    color: hsl(0, 0%, 100%);
    font-weight: 100;
}

.final b:hover{
    text-decoration: underline;
    cursor: pointer;
}
    
