*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.contenedortodo{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 444px;
    width: 263px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contenedor-imagen{
    position: relative;
    height: 220px;
}

.imagen{
    width: 100%; 
    border-radius: 10px;
    height: 100%; 
    object-fit:cover;
}

.textos{
    height: 140px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

.textoh2{
    grid-area: 1/1/2/3;
    margin: auto;
    margin-left: 0;
    padding-top: 5px;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.3px;
}

.textoparrafo{
    grid-area: 2/1/3/3;
    display: flex;
    align-items: center;
    /* margin: auto; */
    margin-left: 0;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    font-weight: 100;
}

.diss{
    display: flex;
    align-items: center;
    justify-content: center;
}

.precio{
    margin: auto;
    margin-left: 0;
}

.precio h4{
    font-size: 11px;
    color: hsl(178, 100%, 50%); 
    letter-spacing: 0.6px;
}

.precio img{
    margin-right: 5px;
}

.timer{
    margin: auto;
    margin-right: 0;
}

.timer p{
    font-size: 13px;
    margin-left: 3px;
    color: hsl(215, 51%, 70%);
}


.final{
    height: 45px;
    border-top: 1.5px solid hsl(215, 32%, 27%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.final img{
    height: 25px;
    border-radius: 50px;
    border: 1px solid white;
}

.final p{
    font-size: 13px;
    margin-left: 10px;
    color: hsl(215, 51%, 70%);

}

.final b{
    color: hsl(0, 0%, 100%);
    font-weight: 100;
}
    
